
<head>
  <meta charset="UTF-8" />
  <title>Delivery</title>
  <link rel="stylesheet" href="/account-styles.css" />
</head>
<body>
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-9 col-lg-6">
          <div class="login-wrap">
            <h3 class="mb-4 text-center">Make Delivery</h3>
            <form action="/delivery_request" method = "POST" class="signup-form">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group mb-4">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Username"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-4">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Phone Number"
                    />
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="form-group mb-4">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Resetaurant ID (Find in homepage)"
                    />
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group mb-4">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Address"
                    />
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group mb-4">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Instructions"
                    />
                  </div>
                </div>
                <span class="form-label">Food Selection (Please find food IDs in restaurant menu at homepage)</span>
                <div class="col-md-6">
                  <div class="form-group mb-4">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Food id1"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-4">
                    <span class="form-label"></span>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Food id2"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-4">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Food id3"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-4">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Food id4"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-4">
                    <span class="form-label">Explected Delivery Time</span>
                    <p> Date.now()</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-4">
                    <span class="form-label">Total Fees (all fees included)</span>
                    <p> Date.now()</p>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group mb-4">
                    <input
                      type="password"
                      class="form-control"
                      placeholder="Confirm Password"
                    />
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group d-flex">
                    <button
                      type="submit"
                      class="btn btn-primary rounded submit p-3"
                    >
                      Request
                    </button>
                  </div>
                </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
