<head>
    <meta charset="UTF-8" />
    <title>Display</title>
    <link rel="stylesheet" href="/account-styles.css" />
</head>

<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-9 col-lg-6">
                    <div class="login-wrap">
                        <h3 class="mb-4 text-center">Please Confirm</h3>
                        <form action="/display" method="POST" class="signup-form">
                            <div class="row">
                                <div class="col-md-12">
                                     <div class="form-group mb-4">
                                        <textarea class="form-control" rows="20" cols="75"><%=data%></textarea>
                                    </div>
                                </div>
                            </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </section>
</body>