<head>
    <meta charset="UTF-8" />
    <title>Reservation</title>
    <link rel="stylesheet" href="/account-styles.css" />
</head>


<body>
    <section class="ftco-section">
        <form action="/reservtion" method="POST" class="signup-form">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-9 col-lg-6">
                        <div class="login-wrap">
                            <h3 class="mb-4 text-center">Check Reservation</h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group mb-4">
                                        <input type="text" name="reservID" class="form-control"
                                            placeholder="Enter Reservation ID" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group d-flex">
                                        <button type="submit" formaction="/check-reserve"
                                            class="btn btn-primary rounded submit p-3">
                                            Check
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-9 col-lg-6">
                        <div class="login-wrap">
                            <h3 class="mb-4 text-center">Cancel Reservation</h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group mb-4">
                                        <input type="text" name="cancelID" class="form-control"
                                            placeholder="Enter Reservation ID" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group d-flex">
                                        <button type="submit" formaction="/cancel-reserve"
                                            class="btn btn-primary rounded submit p-3">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-9 col-lg-6">
                        <div class="login-wrap">
                            <h3 class="mb-4 text-center">Make Reservation</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-4">
                                        <input type="text" name="hostname" class="form-control"
                                            placeholder="Host Name" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-4">
                                        <input type="text" name="phone" class="form-control"
                                            placeholder="Phone Number" />
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group mb-4">
                                        <input type="text" name="restid" class="form-control"
                                            placeholder="Resetaurant ID (Find in homepage)" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group mb-4">
                                        <input type="text" name="time" class="form-control"
                                            placeholder="Reservation Time" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group mb-4">
                                        <input type="text" name="request" class="form-control"
                                            placeholder="Special Request" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group d-flex">
                                        <button type="submit" formaction="/make-reserve"
                                            class="btn btn-primary rounded submit p-3">
                                            Reserve
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group d-flex">
                                      <button
                                        type="submit"
                                        formaction = "/deliveryreturn"
                                        class="btn btn-primary rounded submit p-3"
                                      >
                                        Return to Homepage
                                      </button>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </form>
    </section>
</body>